<html>

<head>
  <title>Set up a new password for {{project_name}}</title>
</head>

<body style="margin:0; padding:0;">
  <div style="max-width:600px; margin:20px auto 0; padding-right:5px; padding-left:5px; overflow:hidden;">

    <div style=" background:#F84D75; height:90px; width:100%;">
      <img src="{{logo_url}}" style="margin:15px; max-width:320px;">
    </div>

    <h2 style="width:96%; margin-right:2%; margin-top:30px; margin-bottom:20px; line-height:30px; font-family:Arial; font-size:24px; color:#333C4E; font-weight:bold;">
          Hi {{first_name}} {{last_name}},
        </h2>

    <p style="float:right; width:96%; margin-right:2%; margin-top:0; margin-bottom:0; line-height:28px; font-family:Arial; font-size:18px; color:#231d37; font-weight:normal;">
      We received a request to change your password. Click the link below to set your new password.
    </p>

    <div style="float:left; width:96%; margin-left:2%; text-align:left; margin-bottom:50px; margin-top:50px;">
        <a href="{{action_url}}" target="_blank" style="text-decoration:none; color:#fff; font-size:16px; font-weight:700; font-family:Arial; background:#21CE99; padding:20px 30px; border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;">CHOOSE A NEW PASSWORD</a>
    </div>

	<div style="float:left; width:96%; margin-left:2%; text-align:left; margin-bottom:10px; margin-top:10px;">
		<p class="sub">If you’re having trouble with the button above, copy and paste the URL below into your web browser.</p>
		<p class="sub">{{action_url}}</p>
    </div>

    <p style="float:right; width:96%; margin-right:2%; margin-top:0; margin-bottom:25px; line-height:28px; font-family:Arial; font-size:18px; color:#231d37; font-weight:normal;">
      If you did not request a password change or do not wish to change your password please ignore this email.
    </p>

    <h2 style="float:right; width:96%; margin-right:2%; margin-top:0; margin-bottom:0; line-height:28px; font-family:Arial; font-size:18px; color:#231d37;">Sincerely,</h2>
    <h2 style="float:right; width:96%; margin-right:2%; margin-top:0; margin-bottom:25px; line-height:30px; font-family:Arial; font-size:18px; color:#231d37; font-weight:normal;">The {{project_name}} Team</h2>
  </div>
</body>

</html>
